.App-header {
  background-color: #222;
  height: 2em;
  padding: 1em 1.5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.wrapper {
  display: flex;
  padding: 1.5em;
}

.Links {
  flex: 1;
}

.Link {
  margin-bottom: 1em;
}
.Link h2, p {
  margin: 0;
}

.Chat {
  flex: .5;
}
